 /* Default (light) theme colors */
 :root {
    color-scheme: light dark;
    --body-color: #404040;
    --content-wrap-background-color: #efefef;
    --content-background-color: #fcfcfc;
    --logo-opacity: 1.0;

    --navbar-background-color: #8c8784;
    /* --navbar-background-color-hover: #29355c;
    --navbar-background-color-active: #212d51;
    --navbar-current-background-color: #212d51;
    --navbar-current-background-color-hover: #182343;
    --navbar-current-background-color-active: #131e3b;
    --navbar-category-active-color: rgba(255 115 129 / 10%);
    --navbar-current-color: #f1f9ff;
    --navbar-level-1-color: #c3e3ff;
    --navbar-level-2-color: #b8d6f0;
    --navbar-level-3-color: #a3c4e1;
    --navbar-expand-base-color: #81a3c2;
    --navbar-expand-hover-color: #c3e3ff;
    --navbar-expand-active-color: #f1f9ff;
    --navbar-dimmed-color: #a3c4e1;
    --navbar-heading-color: #ff7381;
    --navbar-scrollbar-color: #d45a66;
    --navbar-scrollbar-hover-color: #b14550;
    --navbar-scrollbar-active-color: #72383e;
    --navbar-scrollbar-background: #131e2b; */

    --link-color: #2980b9;
    --link-color-hover: #3091d1;
    --link-color-active: #105078;
    --link-color-visited: #9b59b6;

    --search-input-background-color: #e6eef3; /* derived from --input-background-color */
    --search-match-color: #2c6b96; /* derived from --link-color */
    --search-match-background-color: #e3f2fd; /* derived from --link-color */
    --search-active-color: #efefef;
    --search-credits-background-color: #333f67; /* derived from --navbar-background-color */
    --search-credits-color: #b3b3b3; /* derived from --footer-color */
    --search-credits-link-color: #4392c5; /* derived from --link-color */
 }



/* Main sections */

.wy-nav-content-wrap {
    background-color: var(--content-wrap-background-color);
}

.wy-nav-content {
    background-color: var(--content-background-color);
    max-width: 900px;
}

.wy-body-for-nav {
    background-color: var(--content-wrap-background-color);
}

.wy-side-nav-search.fixed {
    position: fixed;
}

.wy-nav-side { overflow: visible; }
.wy-side-scroll { overflow-x: inherit; }

/* Togglable sidebar sections. */
.wy-menu-vertical p.caption {
    cursor: pointer;
}
.wy-menu-vertical p.caption.active {
    background-color: var(--navbar-category-active-color);
}
.wy-menu-vertical p.caption:hover {
    background-color: var(--navbar-background-color-hover);
}

.wy-menu-vertical p.caption.active .caption-text:before {
    transform: rotate(90deg);
}
.wy-menu-vertical p.caption .caption-text:before {
    content: "â¯";
    display: inline-block;
    margin-left: -4px;
    transition: transform 0.2s;
    width: 16px;
    height: 32px;
    transform-origin: 2px 16px;
}

.wy-menu-vertical p.caption + ul {
    display: none;
}
.wy-menu-vertical p.caption + ul.active {
    display: block;
}

.wy-menu.wy-menu-vertical {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 24px;
}

.wy-menu-vertical li > a {
    color: var(--navbar-level-1-color);
    font-size: 92%;
    line-height: 20px;
    padding: .4045em 1.618em;
}

.wy-menu-vertical li > a button.toctree-expand {
    color: var(--navbar-expand-base-color) !important;
    opacity: 0.9;
    margin-right: 8px;

    /* Make the expand icon a bit easier to hit. */
    position: relative;
    width: 12px;
    min-width: 12px; /* Forces the size to stay this way in the flexbox model. */
    height: 18px;
}
.wy-menu-vertical li.current > a button.toctree-expand {
    color: var(--navbar-current-color) !important;
}
.wy-menu-vertical li > a:hover button.toctree-expand {
    color: var(--navbar-expand-hover-color) !important;
    opacity: 1;
}
.wy-menu-vertical li > a:active button.toctree-expand {
    color: var(--navbar-expand-active-color) !important;
    opacity: 1;
}

/* Make the expand icon a bit easier to hit. */
.wy-menu-vertical li > a button.toctree-expand:before {
    position: absolute;
    top: -2px;
    left: -6px;
    width: 24px;
    height: 24px;
    padding: 6px;
}

.wy-menu-vertical li.current > a,
.wy-menu-vertical li.toctree-l2.current > a {
    background-color: var(--navbar-current-background-color-hover);
    border-bottom: 2px solid var(--navbar-current-background-color);
    color: var(--navbar-current-color);
    font-weight: 600;

    /* Make long words always display on a single line, keep wrapping for multiple words */
    /* This fixes the class reference titles' display with very long class names */
    display: flex;
}



@media only screen and (min-width: 769px) {
    .wy-body-for-nav {
        /* Center the page on wide displays for better readability */
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .wy-side-nav-search.fixed-and-scrolled::after {
        /* Simulate a drop shadow that only affects the bottom edge */
        /* This is used to indicate the search bar is fixed */
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 300px;
        height: 8px;
        pointer-events: none;
        background: linear-gradient(hsla(0, 0%, 0%, 0.2), transparent);
    }
    .wy-nav-side {
        /* Required to center the page on wide displays */
        left: inherit;
    }
    .rst-versions {
        /* Required to center the page on wide displays */
        left: inherit;
    }
    
    /* .wy-side-scroll {
        /* Allows the scrollbar to be shown in the sidebar */
        overflow: hidden;
    } */

    .wy-nav-side .wy-side-scroll .ethical-rtd {
        width: calc(300px - 1.25em);
        padding: 0 0 0 1em;
    }

}

@media screen and (max-width: 768px) {
    .wy-nav-side {
        padding-bottom: 44px;
    }
    .wy-menu.wy-menu-vertical {
        overflow-y: initial;
        max-height: initial;
    }
}